<mat-toolbar color="primary" >
    <mat-toolbar-row class="mat-elevation-z3">
      
      <a mat-button href="/" class="menu">
        <mat-icon>assessment</mat-icon>TKJ ARENA
      </a>
  
      <button mat-button [matMenuTriggerFor]="menutabelas">Tabelas</button>
      <mat-menu #menutabelas>
        <a mat-menu-item [matMenuTriggerFor]="bolsa">Bolsa de valores</a>
        <a mat-menu-item [matMenuTriggerFor]="tesouro">Tesouro Direto</a>
      </mat-menu>
  
      <mat-menu #bolsa="matMenu">
        <a mat-menu-item href="/empresa">Empresas</a>
        <a mat-menu-item href="/ativo">Ativos</a>
        <a mat-menu-item href="/indice">Índices</a>
        <a mat-menu-item [matMenuTriggerFor]="setorial">Setores</a>
      </mat-menu>
  
      <mat-menu #setorial="matMenu">
        <a mat-menu-item href="/setor">Setor</a>
        <a mat-menu-item href="/subsetor">Subsetor</a>
        <a mat-menu-item href="/segmento">Segmento</a>
      </mat-menu>
  
      <mat-menu #tesouro="matMenu">
          <a mat-menu-item href="/tesouro-categoria">Categorias de Títulos</a>
          <a mat-menu-item href="/tesouro-tipo">Tipos de Títulos</a>
          <a mat-menu-item href="/tesouro-titulo">Título do Tesouro</a>
          <a mat-menu-item href="/tesouro-cotacao">Histórico de Cotações</a>
        </mat-menu>
  
      <button mat-button (click)="login()">Entrar</button>
  
      <span class="fill-space"></span>
  
      <button mat-button [matMenuTriggerFor]="menulogin">
        <mat-icon class="example-icon">account_circle</mat-icon>
        {{ logged_user }}</button>
      <mat-menu  #menulogin>
        <a mat-menu-item href="/profile">Perfil</a>
        <a mat-menu-item (click)="logout()">Sair</a>
      </mat-menu>
  
    </mat-toolbar-row>
  </mat-toolbar>